In [1]:
import pandas as pd 
import numpy as np 
import sklearn.feature_extraction.text as ft 
import nltk
import sys

In [17]:
sys.path.insert(0, '../')
import src.preprocessing.ctfidf as ctfidf
import src.preprocessing.text_preprocessing as tp
%load_ext autoreload
%autoreload 2

In [18]:

test_str = "I've got the power it's great"
expected = "i have got the power it is great"
test = tp.expand_contractions(test_str)

In [19]:
test

'I have got the power it has / it is great'

In [8]:
df = pd.read_csv('../data/enron/enron_spam_data.csv', sep=',')
df = df.fillna('')
df = df.astype('str')
df['Text'] = df.apply(lambda x: x['Subject'] + ', ' + x['Message'], axis=1)
df['Lable'] = np.where(df['Spam/Ham'].values == 'ham', 0, 1)

In [9]:
df.head()

,Message ID,Subject,Message,Spam/Ham,Date,Text,Lable
0,0,christmas tree farm pictures,,ham,1999-12-10,"christmas tree farm pictures,",0
1,1,"vastar resources , inc .","gary , production from the high island larger ...",ham,1999-12-13,"vastar resources , inc ., gary , production fr...",0
2,2,calpine daily gas nomination,- calpine daily gas nomination 1 . doc,ham,1999-12-14,"calpine daily gas nomination, - calpine daily ...",0
3,3,re : issue,fyi - see note below - already done .\nstella\...,ham,1999-12-14,"re : issue, fyi - see note below - already don...",0
4,4,meter 7268 nov allocation,fyi .\n- - - - - - - - - - - - - - - - - - - -...,ham,1999-12-14,"meter 7268 nov allocation, fyi .\n- - - - - - ...",0

In [ ]:
email_per_class = df.groupby([''])